/*GERAL*/
body { 
    background-color: #F2F5F7;
    font-family: 'Bungee', cursiva;
    display: flex;
    flex-direction: column;
    align-content: center;
}


div {
    width: 99%;
    margin: 0 auto;
    padding: 1rem 0;
    background-color: #102538;
    display: flex;
    align-content: center;
}

#div-main {
    padding: 1rem 0;
    background-color: #1025AA;
    height: 20rem;
    width: 99%;
    position: static;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}
section {
    /*background-color: #ffffff;*/
    width: 99%;    
    position: absolute;
}

#sec-game {
    width: 99%;
    display: flex;
    align-content: center;
    flex-direction: column;
}

#tabuleiro {
    position: static;
}

button {
    font-family: 'Bungee', cursiva;
    width: 30%;
    height: auto;
    margin: 1rem 10px;
    display: block;
}

#botao-start {
    height: 800;
    float: inline-end;
}

button:hover {
    font-weight: bold;
	opacity: 0.99;
    box-shadow: 0 0 5px #2e3456;
    transform: scale(1.1);
    transition: 400ms;
}


.visivel {
    opacity: 100;
    transform: scale(1.0);
    transition: 400ms;
}

.invisivel {
    opacity: 0;
    transform: scale(0);
    transition: 400ms;
}