/*GERAL*/

body { 
    background-color: #F2F5F7;
    font-family: 'Bungee', cursiva;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#div-cabecalho, #div-rodape {
    width: 99%;
    margin: 0 auto;
    padding: 1rem 0;
    background-color: #102538;
    
}

#area-tabuleiro {
    background-color: #F2F5F7;
    display: flex;
    justify-content: space-evenly;
    width: 99%;
}

script .forca-membro {
    opacity: 0;
}

#div-main {
    padding: 1rem 0;
    background-color: #1025AA;
    width: 99%;
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*
#desenho-forca {
    fill: transparent;
    stroke: #000000;
    stroke-width: 4px;
    stroke-linecap: round;
}

/*
section {
    width: 99%;    
    position: absolute;
}

#sec-game {
    width: 99%;
    display: block;
}




#container-PalavraSecreta {
    color: #F2F5F7;
    font-size: 25px;
    display: block;
} 



button {
    font-family: 'Bungee', cursiva;
    width: 30%;
    height: auto;
    margin: 1rem 10px;
    display: block;
}

#botao-start {
    margin-top: 200px;
    height: 800;
    display: block;
}

button:hover {
    font-weight: bold;
	opacity: 0.99;
    box-shadow: 0 0 5px #2e3456;
    transform: scale(1.1);
    transition: 400ms;
}


.visivel {
    opacity: 100;
    transform: scale(1.0);
    transition: 400ms;
}

.invisivel {
    opacity: 0;
    transform: scale(0);
    transition: 400ms;
}
*/